{% extends layout %}

{% block settings_form %}
    <h1>{% trans from 'settings' %}settings{% endtrans %}</h1>

    {{ form_start(settings_form, {'attr': {'id': 'settings-form'}}) }}

    {{ form_rest(settings_form) }}
    <button type="submit">{% trans from 'settings' %}save{% endtrans %}</button>

    {{ form_end(settings_form) }}

{% endblock %}
